<%- include('../partials/header') %>

<h2><%= event.eventName %> Details</h2>
<div class="container-fluid">
  
  <div>Date: </div><div><%= event.date.toLocaleTimeString([], {hour: 'numeric', minute: '2-digit' }) %> 
    <%= event.date.toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric'}) %></div><br>
  <div>Location: </div><div><%= event.place %></div><br>
  <div>Cost: </div><div><%= event.cost %></div><br>
  <div>Event Info: </div><div><%= event.description %></div><br>
</div>
<br>
<% if(user?._id.equals(event.user)) {%>
<button onclick="location.href='/events/<%= event._id %>/edit'">Edit</button>
<form action="/events/<%= event._id %>?_method=DELETE" method="POST">
  <button type="submit">DELETE Event</button>
</form>
<% } %>
<br><br>
<h3>Comments</h3>
<form action="/events/<%= event._id %>/comments" method="POST">
  <input type="text" name="content">
  <input type="submit" value="Add Comment">
</form>
<% if(event.comments.length){ %>
  <div class="comment">
    <div>
      <% event.comments.forEach( (c) => { %>
        <div><img src="<%= c.userAvatar %>" referrerpolicy="no-referrer" alt="avatar"> <%= c.userName %></div><br>
        <div>
          <%= c.content %>
          <% if(user?._id.equals(c.user)) {%>
          <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
            <button type="submit"> x </button>
          </form>
          <% } %>
        </div>
  
      <% }); %>
    </div>
  </div>
<%} else{ %>

<% } %>


<%- include('../partials/footer') %>
