<%- include('../partials/header') %>

<div class="container-fluid mt-3" style="max-width: 60%;">
  <h2 class="text-center"><%= event.eventName %></h2>
  <div class="card">
    <img src="/images/event-default1.png" class="card-img-top img-fluid" alt="Event Image">
    <div class="card-body">
      <p class="card-text">Date: <%= event.date.toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric'}) %></p>
      <p class="card-text">Time: <%= event.date.toLocaleTimeString([], {hour: 'numeric', minute: '2-digit' }) %></p>
      <p class="card-text">Location: <%= event.place %></p>
      <p class="card-text">Cost: <%= event.cost %></p>
      <p class="card-text">Event Info: <br><%= event.description %></p>
      <% if(user?._id.equals(event.createdBy)) { %>
      <!-- < if(user) { > -->
      <button onclick="location.href='/events/<%= event._id %>/edit'" class="btn btn-primary btn-sm" id="edit-btn">Edit</button>
      <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger btn-sm mt-3" id="delete-btn">Delete</button>
      </form>
    </div>
  </div>
      <% } %>
      <!-- comments beginning -->
<div class="card mt-0 mb-5">
  <div class="card-body">
    <h5 class="card-title">Comments</h5>
    <ul class="list-group list-group-flush" id="comment-list">
      <% if(event.comments.length){ %>
      <% event.comments.forEach( (c) => { %>
      <li class="list-group-item">
        <div class="d-flex justify-content-start align-items-center">
          <img src="<%= c.userAvatar %>" class="rounded-circle mr-5" alt="user avatar" width="35" height="35">
          <div>
            <p class="mb-0 p-2"><%= c.content %></p>
            <small><%= c.userName %></small>
          </div>
        </div>

        <% if(user?._id.equals(c.user)) {%>
          <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-sm"> Delete </button>
          </form>
          <% } %>
      </li>
      <% }); %>
      <% } else{ %>
          <li class="list-group-item">
              <div class="d-flex justify-content-start align-items-center">
                  <p class="mb-0 p-2">No event comments yet</p> 
              </div>
          </li>
      <% } %>
    <div class="form-group">
      <form action="/events/<%= event._id %>/comments" method="POST">
        <textarea class="form-control" id="comment-input" rows="2" name="content" placeholder="Add a comment"></textarea>
        <button class="btn btn-primary " id="add-comment-btn">Add Comment</button>
      </form>
    </div>
  </div>        
  </ul>
</div>
<!-- comments end  -->


<%- include('../partials/footer') %>
