<%- include('../partials/header') %>

<h2>Event Details</h2>
<div class="e-info">
  <div>Event: </div><div><%= event.eventName %></div><br>
  <div>Date: </div><div><%= event.date.toLocaleTimeString([], {hour: 'numeric', minute: '2-digit' }) %> 
    <%= event.date.toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric'}) %></div><br>
  <div>Place: </div><div><%= event.place %></div><br>
  <div>Cost: </div><div><%= event.cost %></div><br>
  <div>Description: </div><div><%= event.description %></div><br>
</div>
<br>
<a href="/events/<%= event._id %>/edit" class="button">Edit</a>

<form action="/events/<%= event._id %>?_method=DELETE" method="POST">
  <button type="submit">DELETE Event</button>
</form>


<%- include('../partials/footer') %>
